<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Landing page template built with HTML and Bootstrap 4 for presenting training courses, classes, workshops and for convincing visitors to register using the form.">
    <meta name="author" content="Inovatik">
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <title>@ViewData["Title"] - Procode.uz</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
    <link href="/styles/css/bootstrap.css" rel="stylesheet">
    <link href="/styles/css/swiper.css" rel="stylesheet">
    <link href="/styles/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/css/fonts.css">
    <link href="/styles/css/styles.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    @RenderSection("styles", required: false)
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">

        <a class="navbar-brand logo-text page-scroll" asp-controller="home" asp-action="index">Procode</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">KIRISH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="blog">BLOG</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#date" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">BO'LIMLAR</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="article-details.html"><span class="item-text">ARTICLE DETAILS</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS CONDITIONS</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY POLICY</span></a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="contact">ALOQA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search.html">QIDIRISH</a>
                </li>


            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://t.me/procode_uz">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-telegram-plane fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://www.youtube.com/channel/UCiOgeHkY3gbFCHZm_QsooIQ">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-youtube fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> 
    
    @RenderBody()

    <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-col first">
                    <h5>Biz haqimizda</h5>
                    <p class="p-small">Platformamiz IT sohasida faoliyat yuritayotgan birodarlarimiz uchun o'z sohasining professionallaridan online darslarni ulashib boradi</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-col second">
                    <h5>Sahifalar</h5>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a asp-controller="home" asp-action="index">Bosh sahifa</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a asp-controller="home" asp-action="blog">Blog</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a asp-controller="home" asp-action="contact">Aloqa</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a asp-controller="home" asp-action="team">Bizning jamoa</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-col third">
                    <h5>Kategoriyalar</h5>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a>.NET</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a>NodeJs</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a>Laravel</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a>React & Vue</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-col fourth">
                    <h5>Ijtimoiy tarmoqlar</h5>
                    <p class="p-small">Bizni kuzatib boring</p>
                    <a href="#your-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div> 

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright &copy; 2019 - @DateTime.Now.Year <a href="https://procode.uz">Procode</a> - Barcha huquqlar himoyalangan</p>
                </div>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)
    <script src="/styles/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/styles/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/styles/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/styles/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/styles/js/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
    <script src="/styles/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/styles/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/styles/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/styles/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>