@model DashboardAllSpeakersViewModel
@{
    int numerator = 1;
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.BannerTitle</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ismi</th>
                                <th scope="col">Familiyasi</th>
                                <th scope="col">So'zlari</th>
                                <th scope="col">Tahrirlash</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.Speakers)
                                {
                                    <tr>
                                        <th scope="col">@numerator</th>
                                        <th scope="col">@item.Name</th>
                                        <th scope="col">@item.Surname</th>
                                        <th scope="col">@string.Concat(item.Quote.Substring(0, 10), " ...")</th>
                                        <th scope="col">
                                                <a class="btn btn-info mr-1" asp-controller="dashboard" asp-action="editspeaker" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a>
                                                <form asp-controller="dashboard" asp-action="deletespeaker" asp-route-id="@item.Id" method="post" style="display: inline-block;">
                                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Rostan ham ushbu malumotni ochirmoqchi ekanligingizni tasdiqlang');"><i class="fas fa-trash"></i></button>
                                                </form>
                                        </th>  
                                    </tr>

                                    numerator++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
